$container: 100px;
$smContainer:50px;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'MaxPro', sans-serif;
}

nav {
    padding: 20px $container;
    display: flex;
    align-items: center;
    justify-content: space-between;

    >div {
        flex: 1;
    }

    .contact {
        flex: 2;

        ul {
            list-style-type: none;
margin: 0 auto;
width: fit-content;
            li {
                position: relative;
                display: block;
                margin: 5px 0;
.title{
    font-weight: 700;
}
            }
        }
    }

    h1 {
        font-size: 20px;
        background: -webkit-linear-gradient(#28a745, #035b8d), ;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-align: right;
       
    }
}

.img {
text-align: center;
    img {
        width:calc(100vw - #{$container}*2);
    }
}

@media only screen and (max-width: 1200px) {
   
    nav{
    padding: 20px $smContainer;
      
        flex-direction: column;
        >div{
            text-align: center;
            margin-bottom: 20px;
        }
        h1{
            text-align: center;
        }
        
    }
   .img{
    img {
        width:calc(100vw - #{$smContainer}*2);
    }
   }
}